.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f9faff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.domain-name {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  word-break: break-all;
  font-style: normal;
  font-weight: bold;
  font-size: 41px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  margin: 0 0 50px 0;
}

.colorful-highlight {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  background: linear-gradient(90deg, #9f1fed 0%, #645ff2 52.6%, #4ec4d6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  margin: 30px;
}

.loader-container {
  width: 100%;
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.loader {
  border: 5px solid #555;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #f3f3f3;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.black {
  color: black;
}

.infinite-scroll-component__outerdiv {
  max-width: 1400px;
  width: 100%;
}

.infinite-scroll-component {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 32px;
  overflow: hidden !important;
  padding-bottom: 100px;
}

@media only screen and (max-width: 400px) {
  .infinite-scroll-component {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media only screen and (min-width: 1150px) {
  .infinite-scroll-component {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media only screen and (max-width: 1150px) {
  .infinite-scroll-component {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .infinite-scroll-component {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.margin-bottom {
  margin-bottom: 100px;
}

.powered-by-container {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
}

.unstoppable-logo {
  margin-right: 12px;
}

.powered-by-margin-top {
  margin-top: 100px;
}

.powered-by-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  word-break: break-all;
  font-weight: 600;
  font-size: 16px;
  color: #a2a2a2;
}

.blue-link-highlight {
  color: #4c47f7;
  cursor: pointer;
}
